<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>

        {{# if hasErrors }}

            <div class="alert alert-danger">{{# each messages }}

            <p>{{ this }}</p>

            {{/each}}
            </div>

            {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="btn btn-success" type="submit">Signup</button>

        </form>
    </div>
</div>